body{
	background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);
	font-family: 'Lato', sans-serif;
	background-size: cover;
	background-position: center;	
}
h1{
	font-weight: 700;
}
.content{
 text-shadow: 0px 4px 3px red;

}
html {
	height: 100%;
}
.navbar{
	background-color: white;
	border-radius: 10px;
}
span.icon-bar{
	background-color:blue; 
}
.jumbotron{
  background-color: transparent;
  text-align: center;
  color: white;
  padding-top: 16%;
}
hr{
	width:325px;
	border-top:1.5px solid #f8f8f8; 
	border-top:1.5px solid #f8f8f8; 
}
